{$SITE_ADDRESS} {
	encode gzip
	
	handle /api/* {
		reverse_proxy backend:7000
	}
	handle /ws* {
		reverse_proxy backend:7000
	}

	handle {
		reverse_proxy frontend:80
	}
}

{$WWW_ADDRESS:http://www.localhost} {
	redir https://{$SITE_ADDRESS}{uri} permanent
}
